.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /*  responsivo */
  gap: 2rem;              /* espacio entre tarjetas */
  padding: 1rem;          /* margen interno */
  justify-items: center;  /* centra las cards dentro de cada columna */
}
